extends ./header.pug
append content
    if message
        h1= message
    if article
        div.card
            div.card-header=article.title
        div.card-body
            ul.list-group
                li.list-group-item
                    img.my-0.mr-md-auto(src=article.cover_img_path, alt='', width='100%', height='200')
                li.list-group-item=article.content
                li.list-group-item=article.date
                li.list-group-item
                    if is_admin
                        a.btn.btn-primary(href="/articles/modify/?id="+article.article_id) Modify
                        a.btn.btn-danger(href="/articles/delete/?id="+article.article_id) Delete
        form.login-form.form-horizontal(method='post', action='/comment/add/?article_id='+article.article_id)
            div.card
                div.card-header Comment this article
            div.card-body
                div.form-group
                    label.col-sm-4
                    div.col-sm-8
                        textarea.form-control(placeholder='Your comment',
                        required=true,
                        name='content')

                div.form-group
                    div.col-sm-offset-4.col-sm-8
                        button.login.btn.btn-primary(type='submit') Publish Comment
        if comments
            each comment in comments
                div.card
                    div.card-header
                        img.my-0.mr-md-auto(src=comment.avatar_img_path, alt='', width='50', height='50')
                        p=comment.user_name
                div.card-body
                    ul.list-group
                        li.list-group-item=comment.date
                        li.list-group-item=comment.content
                        li.list-group-item
                        if is_admin
                            a.btn.btn-danger(href="/comment/delete/?id=" + comment.comment_id) Delete
                        else if comment.author_id === user_id
                            a.btn.btn-danger(href="/comment/delete/?id=" + comment.comment_id) Delete
                        if comment.author_id === user_id
                            a.btn.btn-primary(href="/comment/modify/?id=" + comment.comment_id) Modify
                        form.login-form.form-horizontal(method='post', action='/comment/add/?article_id=' + article.article_id)